{% extends "index.html" %}
{% block head %}
{{ super() }} {# Dies stellt sicher, dass alle Inhalte aus dem 'head'-Block des Basis-Templates beibehalten werden #}
<script>document.addEventListener('DOMContentLoaded', function () { plausible('404', { props: { path: document.location.pathname } }); });</script>
{% endblock head %}

{% block main %}
<h1 class="top-0 bottom-20 absolute inset-x-8 flex justify-center items-center text-6xl">{{
  _str::tr(key=`error_not_found`, d=g_d) }}</h1>
{% endblock main %}