<script defer data-domain="lgrunwald.dev"
    src="https://plausible.lgrunwald.dev/js/script.file-downloads.hash.outbound-links.pageview-props.revenue.tagged-events.js"></script>
<script>window.plausible = window.plausible || function () { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>

<!-- Mastodon verification -->
<link href="https://mastodon.social/@lgrunwald" rel="me">

<!-- Atom Feed -->
<link rel="alternate" type="application/atom+xml" title="{{ config.title }} - Atom Feed" href="{{ get_url(path="atom.xml") | safe }}" />

<!-- RSS Feed -->
<link rel="alternate" type="application/rss+xml" title="{{ config.title }} - RSS Feed" href="{{ get_url(path="rss.xml") | safe }}" />

